.nav {
    grid-area: n;
    background-color: khaki;
    padding: 20px;
}

.item a {
    color: indigo;
    font-size: 22px;
    text-decoration: none;
}

.item a.active {
    color: red;
    font-size: 25px;
    border: 4px solid red;
    border-radius: 5px;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
}